.login-button {
    background-color: #1D9BF0;
}

.twitter-logo {
    padding-left: 85px;
    color: #000000;
    padding-bottom: 10px;
}

.twitter-navbar {
    border-right: 1px solid rgb(218, 218, 218);
}

.twitter-login {
    border-left: 1px solid rgb(218, 218, 218);
}

.nav-text {
    list-style: none;
    font-size: 22px;
    padding-left: 70px;
    padding-bottom: 10px;
}

.nav-text li i {
    padding-right: 10px;
}

.side-tweet-button {
    padding-left: 80px;
}

.fa-bookmark {
    font-size: 30px;
}

.fa-home {
    font-size: 25px;
}

.fa-user {
    font-size: 30px;
}

.fa-twitter {
    padding-top: 10px;
    font-size: 37px;
}

.tweet-nav-btn {
    width: 220px;
    border-radius: 50px;
    font-weight: bold;
    background-color: #1D9BF0;
    border: none;
    height: 50px;
}

.navbar-link {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 20px;
    padding-right: -12px;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.navbar-link:hover {
    background-color: #e9f7ff;
    text-decoration: none;
    color: #1D9BF0;
}


.navbar {
    background-color: #fff;
}

.navbar-header {
    float: left;
}

.navbar-right {
    float: right;
}

.fa-twitter {
    color: #00aced;
    padding-bottom: 10px;
}

.main {
    margin-top: 50px;
    padding-top: 10px;
    min-width: 1000px;
}

.profile-trends,
.follow-footnote {
    width: 290px;
}

.profileCard {
    background: #fff;
    padding: 10px 0;
    border-radius: 5px;
}

.user-field .username {
    font-weight: 700;
    font-size: 18px;
    color: inherit!important;
}

.user-field .screenName {
    color: #66757f;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}

.user-stats div {
    margin-top: 5px;
}

.user-stats a {
    text-decoration: none;
}

.user-stats a span:first-child {
    color: #8c9ca9;
    font-size: 10px;
    letter-spacing: .02em;
    text-transform: uppercase;
    text-decoration: none;
}

.user-stats a span:first-child:hover {
    color: #0084B4;
}

a:hover {
    color: #0084B4;
}

.trends {
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 25px;
}

.trends-header {
    margin-bottom: 10px;
}

.trends-header span:first-child {
    color: #66757f;
    font-size: 18px;
    font-weight: 300;
}

.trends-list {
    list-style: none;
    padding-left: 0;
}

.trends-list li {
    padding-bottom: 8px;
    font-size: 14px;
}

.suggested-accounts {
    padding: 10px 0;
    border-radius: 5px;
    padding-left: 25px;
}

.accounts-header{
    margin-bottom: 10px;
}

.accounts-header span:first-child {
    color: #66757f;
    font-size: 18px;
    font-weight: 300;
}

.accounts-list {
    list-style: none;
    padding-left: 0;
}

.accounts-list li {
    padding-bottom: 8px;
    font-size: 14px;
}

.feed-box {
    width: 600px;
}

.post-tweet-box {
    padding-top: 10px;
    background: #C0DEED;
    border: 1px solid #BFE0EC;
    border-radius: 5px 5px 0 0 ;
}

.post-tweet-box div {
    margin: 10px 0;
}

.post-char-counter {
    margin-right: 8px;
    color: #8899a6;
}

.tweet {
    background: #fff;
    border: 1px solid #BFE0EC;
    padding: 10px 10px;
}

.tweet-username {
    font-size: 14px;
    font-weight: bold;
    color: #292f33;
}

.tweet-screenName {
    color: #b1bbc3;
    text-decoration: none;
    font-size: 13px;
    padding-left: 6px;
}

.tweet-screenName:hover {
    text-decoration: none;
    color: #b1bbc3;
}

.tweet p {
    padding-top: 6px;
    margin-bottom: 0;
}

.delete-tweet {
    float: right;
}

.tweet a {
    padding-bottom: 6px;
}
